.card {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    z-index: 1;
}

.card:not(:hover) {
    opacity: 0.6;
}
.my-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 6) !important;
}
.title-large {
    font-size: 5em; /* Adjust as needed */
    margin-bottom: 70px; /* Adjust as needed */
}
